app-quizcard {
    position: relative;
}

.flip-container {
    perspective: 1000px;
}

.flip-container.flipped .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 100%;
    max-width: 100%;
    height: 60vh;
    margin: 20px auto;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
    
}


.back {
    transform: rotateY(180deg);
}
