.question--frame{
    height: 100vh;
    padding-top: 10px;
    display: flex;
    flex-direction: column;

}
.question--bgholder{
    position: fixed;
    left:0;right:0;top:0;bottom:0;
    height: 100vh;
    overflow-y: hidden;
    z-index: 0;
}
.question--bg{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.question--header{
    z-index: 1;
}
.question--holder{
    // max-height: 100vh;
    z-index: 1;
    overflow-y: hidden;
    position: relative;

    // border: 1px solid red;
}
.question--holder2{
    position: relative;
}
.question--text{
    color: white;
}
.question--item{
    border-radius: 3px;
    margin-left: auto;margin-right: auto;
    background-color:rgba(81,77,146,0.56);
    padding: 10px;
    margin-bottom: 35px;
    width: 75%;
    max-width: 425px;
    position: relative;
    transition: opacity 2s ease-in-out;
    opacity: 0;
    
}
.question--item_first{
    height: auto;
}
.question--item_active{
    opacity: 1;
}
.flash-card-front{
    width: 100%;
    padding: 10px;
    text-align: center;
    padding-top: 0;
    align-self: flex-start;
    @media only screen and (min-width: 768px) {
        padding-top: 10px;
    }
    .list-group{
        button{
            margin-top: 8px;
            border-radius: 0;
            background-color: #60e4ea;
            font-size: 1em;
            font-weight: 200;
            @media only screen and (min-width: 768px) {
                font-size: 1.4em;
                margin-top: 15px;
            }
        }
    }
}
.flash-card-front--optional {
    display: none !important;
    @media only screen and (min-width: 768px) {
            display: inline !important;

    }
}
.flash-card-back{
    text-align: center;
    align-self: flex-start;
    color: white;
}

        

button:hover{
    cursor: pointer;
}

.quizResults{
    opacity: 0;
    color: white;
    text-align: center;
    padding-top: 105px;
    padding-bottom: 100px;
    background-color: rgba(0,0,0,0.3);
    &.showResults{
        opacity: 1;
    }
    transition: opacity 2s ease-in-out;
}