<div class="container question--frame">
    <div class="question--bgholder">
        <img src="assets/img/scrollbg.jpg" alt="" class="question--bg" #questionbg>
    </div>
    <div class="question--header text-center">
        <button (click)="restartQuiz()" class="btn btn-warning btn-sm">Restart Quiz</button>
    </div>
    <br>
    <div class="question--holder">
        <div class="question--holder2" #questionholder2>
            <div *ngFor="let question of questions; let i=index;" class="question--item" [class.question--item_first]="i === 0" [class.question--item_active]="currquestion === i">
                <div>
                    <p><small class="text-white">Question {{i+1}} of {{questions.length}}</small></p>
                    <h3 class="question--text">{{question.questionText}}</h3>
                    <app-quizcard [isFlipped]="question.flashCardFlipped">
                        <div class="flash-card-front">
                            <p class="flash-card-front--optional" [innerHTML]="question.flashCardFront"></p>
                            <ul class="list-group">
                                <button *ngFor="let answer of question.answers" class="list-group-item list-group-item-action " [class.active]="answer.selected" (click)="selectAnswer(answer, question)" [disabled]="hasAnswered">{{answer.answer}}</button>
                            </ul>
                        </div>
                        <div class="flash-card-back"><h3>{{quesCorrect}}</h3>
                            <p [innerHTML]="question.flashCardBack"></p>
                            <button class="btn btn-md btn-info" (click)="nextQuestion(answer, question)">CONTINUE</button>
                        </div>
                    </app-quizcard>
                </div>
            </div>
            <div class="quizResults" [class.showResults]="quizDone">
                <div>
                    <h3 class="card-title">QUIZ RESULTS</h3>
                    <h2 class="card-text">Score: {{score}}</h2>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
